﻿@model EATurner.Models.MovieParentModel

@*@model IEnumerable<EATurner.Models.MovieModel>*@

@{
    ViewBag.Title = "Movie Search";
}

<h2>Movie Search</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table>
    <tr>
    <td valign="top">
<table>
    <tr>
        <th>@ViewBag.Message</th>
    </tr>

    <tr>
        <td>
            @using (Html.BeginForm("Search","Movie",FormMethod.Post))
            {
                @Html.TextBox("TitleName")
                <input type="submit" value="Search" />
            }
        </td>
    </tr>

    @if (Model != null)
    {
        foreach (var item in Model.Movies)
        {
            <tr>
            <td>@item.TitleName</td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id=item.TitleId })
                </td>
            </tr>
        }
    }

</table>
</td>
<td valign="top">
@if (Model != null && Model.DisplayDetails == true)
{
<table>
<tr>
<td colspan="2" class="display-labelStrong">
Details

</td>
</tr>
<tr>
<td class="display-labelStrong">
Movie Id</td>
<td class=".display-label">
@Model.Movie.TitleId
</td>
</tr>
<tr>
<td class="display-labelStrong">
Title
</td>
<td class=".display-label">
@Model.Movie.TitleName
</td>
</tr>
<tr>
<td class="display-labelStrong">
Year
</td>
<td class=".display-label">
@Model.Movie.ReleaseYear
</td>
</tr>
<tr>
<td class="display-labelStrong">
Description:
</td>
<td class=".display-label">
@Model.Movie.Description
</td>
</tr>
</table>
}
</td>
</tr>
</table>